*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1200px;
    height: 1000px;
    background: #1F618D;
    margin: 0.5em auto;
    padding: 0.5em;
}

#encabezados{
    height: 20%;
    background: #154360;
}

#imagen{
    
}