*{
    margin: 0;
    padding: 0;
    background-color: #134E4F;
}
    

#tablas2 {
    background-color: #154360; 
}

#tablas3 {
    background-color: #1F618D;
    list-style: none;
    display: flex;
    justify-content: space-around; /* Espaciado entre elementos */
    padding: 0.5em;

}

#texen{
    background-color:#1F618D;
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em; 
}

#deco{
    padding: 0.5em;
    background: #1F618D;

}
#contenedor{
    width: 1300px;
    height: 1200px;
    background: #1F618D;
    margin: 2em auto;
    padding: 0.5em;
    border: 5px solid white;
    overflow: hidden;
}

#encabezados{
    height: 20%;
    background: #154360;
}
#imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background: #1F618D ;
    background-size: cover;
    

}

#imagenencabe{
    margin: 0.5em auto;
    max-width: 100%; /* Asegura que la imagen no se extienda más allá de su contenedor */
    clip-path: polygon(0 0, 100% 0, 100% 81%, 50% 95%, 0 80%);
    border: 5px solid white ;
}

#contenido{
    background: white;
    height: 60%;
    display: flex;

}

#menu{
    background:#1F618D;
    flex: 0 0 30%;
    justify-content: space-around;
    border: 10px ;

    border: 1px solid whitesmoke;
}

#menup{
    justify-content: center;
    color: white;
    background: #1F618D;
    display: flex;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    flex: 0 0 30%;
    font-size: 2em; 

    

}
#contenidos{
    background: #154360;
    flex: 0 0 70%;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
}

#tablas5{
    width: 100%;
    height: 98.8%;
}

#tablas4{
    list-style: none;
    width: 100%;
    height: 100%; /* Utiliza flexbox para que los elementos de la lista se distribuyan horizontalmente */
    padding: 0; /* Elimina el relleno por defecto de la lista */
    background:#1F618D;
    
}

#texts{
    text-decoration: none;
    color: white;
    background: #1F618D;
    width: 100%;
    height: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: block;
    
}

#tablasdeco{
    flex: auto; /* Hace que cada elemento li ocupe todo el espacio disponible */
    border: 1px solid whitesmoke; /* Añade un borde alrededor de cada cuadro */
    width: 100%;
    height: 24%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1,4em; 
    
}
#titulos{
    background: #154360;
    text-align: center;
    color: white;
    border: 29px solid #154360;
}

#textocontenido{
    background: #154360;
    color: white;
    font-family: new 'Times New Roman', Times, serif;
    border: 11px solid #154360;
    
}

#imagencont{
    background: #154360;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34%;
    background-size: cover;
}

 #contenidotec{
    background: #154360;
    max-width: 20%;
    margin: 0.5em auto;
}

#piedepagina{
    background: #154360;
    
}

#footer{
    background: #1F618D;
    height: 20%;
}